
canvas {
    border: 1px solid black;
}
/* Style for the visualization containers */
#Viz {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

#epochInfo, #lossInfo {
    margin-right: 10px;
}

#lossGraph {
    margin-top: 10px;
    padding: 5px;
}